.bg-shadow-dark {
  display: flex;
  justify-content: center;
  background-color: #726d60;
  border-radius: calc(0.3rem - 1px);
  font-size: 1.1rem;
}
.bg-shadow-dark-search {
  display: flex;
  justify-content: center;
  background-color: #726d60;
  border-radius: calc(0.3rem - 1px);
  font-size: 1rem;
}
.radio-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bg-shadow-ginger {
  background-color: rgb(255, 188, 0);
  border-radius: calc(0.3rem - 1px);
  font-size: 0.7rem;
}

.bg-ginger {
  background-color: rgb(255, 188, 0);
}

.bg-shadow-ginger-search {
  background-color: rgb(255, 188, 0);
  border-radius: calc(0.3rem - 1px);
  font-size: 1rem;
}
.bg-shadow-light-search {
  background-color: #ffffff;
  border-radius: calc(0.3rem - 1px);
  font-size: 1rem;
}

.radio-item {
  font-size: 0.9rem;
}
.submitted {
  align-self: flex-end;
  margin: calc(2rem - 2px) 0;
}
.input-text-searching {
  width: 50%;
}
.searching-criteria {
  margin-left: 2rem;
  /* padding: calc(0.25rem - 1px) calc(2rem - 1px); */
  border-radius: 1rem;
  border-color: rgb(255, 188, 0);
  /* border-style: solid; */
  background-color: rgb(255, 188, 0);
  /* box-shadow: 1px 1px 1px black; */
  text-decoration: none !important;
  color: #ffffff !important;
}
.adding-criteria {
  margin-left: 2rem;
  padding: calc(0.25rem - 1px) calc(2rem - 1px);
  border-radius: 1rem;
  border-color: #000;
  border-style: solid;
  background-color: #726d60;
  box-shadow: 1px 1px 1px black;
  text-decoration: none !important;
  color: #ffffff !important;
}
.adding-criteria :hover {
  color: rgb(255, 188, 0) !important;
}

h3 {
  font-family: "KBFG Display";
}

h5 {
  font-family: "KBFG Text";
}
