.bg-shadow-dark {
  display: flex;
  justify-content: center;
  background-color: #726d60;
  border-radius: calc(0.3rem - 1px);
  font-size: 1.1rem;
}
.radio-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bg-shadow-ginger {
  background-color: #f2b924;
  border-radius: calc(0.3rem - 1px);
  font-size: 0.7rem;
}
.radio-item {
  font-size: 0.9rem;
}
.submitted {
  align-self: flex-end;
  margin: calc(2rem - 2px) 0;
}
.input-text-searching {
  width: 50%;
}
.searching-criteria {
  padding: calc(0.25rem - 1px) calc(2rem - 1px);
  border-radius: 1rem;
  border-color: #000;
  border-style: solid;
  background-color: #726d60;
  box-shadow: 1px 1px 1px black;
}
