img {
  height: 50px;
  width: 50px;
}

.bg-ginger {
  background-color: rgb(255, 188, 0);
}
.sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}
.sidebar-text {
  font-size: 2px;
}
